@import "../../compoments/Header/style.scss";
@import "../../compoments/Postproject/style.scss";
@import "../../compoments/Getproject/style.scss";
@import "../../compoments/Skill/style.scss";
@import "../../compoments/Presentation/style.scss";
@import "../../pages/Admin/style.scss";

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;
}